<!DOCTYPE html>
<html>

<head>
<title>IS607</title>
<link rel="stylesheet" href="./static/styles/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="./static/styles/stylesheet.css">
<link rel="icon" href="static/icon.jpg" type = "image/x-icon">
</head>

<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="/">IS607</a>
</nav>

<div style="display:flex">
  <div style="width:50%;padding:10px">
  
	<form action="generate_level_2" method="POST" style="display:flex;align-items:center;margin-bottom:10px">
      <label style="white-space:nowrap;margin-right:10px">Level 1 Keyword: </label>
      <input type="text" name="level_1" value="{{ level_1 }}" class="form-control">
      <input type="submit" value="Generate Level 2" class="btn btn-primary" style="white-space:nowrap;margin-left:10px">
    </form>
    
    <form action="generate_level_3" method="POST">
      <div style="display:flex;align-items:center;margin-bottom:10px">
        <label style="margin-right:auto"> 3. Pick the level 2 keywords: </label>	
        <input type="submit" value="Generate Level 3" class="btn btn-primary">
      </div>
      <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
          <th style="text-align:center">Level 2 Node</th>
          <th style="text-align:center">Eigenvector Centrality</th>
          <th style="text-align:center">Selection</th>
        </tr>
    	</thead>
    	<tbody>
    	  {% for node, centrality in level_2.items() %}
    	  <tr>
    	    <td style="text-align:center">{{node}}</td>
    	    <td style="text-align:center">{{centrality}}</td>
    	    <td style="text-align:center"><input type="checkbox" value={{node}} name="chosen_nodes" {% if node in chosen_nodes %} checked {% endif %} style="transform: scale(1.5)"></td>
    	  </tr>
    	  {% endfor %}
    	</tbody>
    	</table>	
    	<input type="hidden" name="level_1" value="{{ level_1 }}" class="form-control">
    </form>
    
  </div>

  <div style="width:50%;padding:10px">
    {% if level_1 %}
      <img src="./static/network.jpg" style="width:100%">
    {% endif %}
  </div>

</div>

</body>

</html>