<!DOCTYPE html>
<html>

<head>
<title>IS607</title>
<link rel="stylesheet" href="./static/styles/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="./static/styles/stylesheet.css">
<link rel="icon" href="static/icon.jpg" type = "image/x-icon">
</head>

<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="/">IS607</a>
</nav>

<div style="display:flex">
  <div style="width:50%;padding:10px">
	<form style="display:flex;align-items:center;margin-bottom:10px" action="generate_level_2" method="POST">
      <label style="white-space:nowrap;margin-right:10px">Level 1 Keyword: </label>
      <input id="product_name" class="form-control" type="text"></input>
      <button class="btn btn-primary" style="white-space:nowrap;margin-left:10px" href="/stage_2?is_reselect=true">Generate Level 2</button>
    </form>
    <form action="generate_level_3" method="POST">
      <div style="display:flex;align-items:center;margin-bottom:10px">
        <label style="margin-right:auto"> 3. Pick the level 2 keywords: </label>	
        <button type="submit" class="btn btn-primary">Generate Level 3</button>
      </div>
      <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
          <th scope="col">Level 2 Node</th>
          <th scope="col">Eigenvector Centrality</th>
          <th scope="col">Selection</th>
        </tr>
    	</thead>
    	<tbody>
    	  {% for node, centrality in level_2.items() %}
    	  <tr>
    	    <td>{{node}}</td>
    	    <td>{{centrality}}</td>
    	    <td><input type="checkbox" value={{node}} name="chosen_nodes" id="chosen_nodes"></td>
    	  </tr>
    	  {% endfor %}
    	</tbody>
    	</table>	
    </form>
  </div>

  <div style="width:50%;padding:10px">
    {% if chosen_nodes %}
      <img src="static/network.jpg" style="width:100%">
	{% endif %}
  </div>

</div>

</body>

</html>