<!DOCTYPE html>
<html>

<head>
<title>IS607</title>
<link rel="stylesheet" href="./static/styles/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="./static/styles/stylesheet.css">
<link rel="icon" href="static/icon.jpg" type = "image/x-icon">
</head>

<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="/">IS607</a>
</nav>

<div style="padding: 30px">
    <a id="crawl" href="analyze_data" class="btn btn-success">Analyze Existing Data</a>
	<h5>or, Enter Product Name below and Press Crawl Links</h1>
	<form action = "crawl_links" method="POST">
	    <input id="product_name" class="form-control" type="text"  style="margin-bottom:30px"></input>
	    <button type="submit" class="btn btn-primary">Crawl Links</button>
    </form>
	<p class="form-control" style="border: 2px solid silver;">Crawling Successful / Error</p>
	<form action="crawl_reviews" method="POST">
	    <button type="submit" class="btn btn-primary" style="margin-top:30px">Crawl Reviews</button>
    </form>
	<p class="form-control" style="border: 2px solid silver;">Crawling Successful / Error</p>
</div>

</body>

</html>