<!DOCTYPE html>
<html>

<head>
<title>IS607</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="icon" href="static/icon.jpg" type = "image/x-icon">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#crawl').click(function(e) {  
			var input_value = $('#product_name').val();
			window.location.replace("http://localhost:5000/stage_1?product_name="+input_value);
		});
	});
</script> 
</head>

<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="/">IS607</a>
</nav>

<div class="container">
	<br>
	<div> 1. What would you like to know about? </div>
	<br>
	<input type="text" id="product_name"></input>
	<br><br>
	<a style="color:white" id="crawl" class="btn btn-primary">Crawl Link</a>
</div>

</body>

</html>