<!DOCTYPE html>
<html>

<head>
<title>IS607</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
crossorigin="anonymous">
<link rel="icon" href="static/icon.jpg" type = "image/x-icon">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
</script>
{% set get_network ="/stage_3?level_1="+level_1 %}
</head>


<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="/">IS607</a>
</nav>

<div class="row">

<div class="column">
<div class="container">
	<br>
	<div class="row"> 
	<p style="margin-left:0.5cm">Level 1: {{level_1}}</p>
	<a href="/stage_2?is_reselect=true" class="btn btn-primary" style="margin-left:3.5cm">Try Another Keyword</a>
	</div>
	<br>
	<div> 3. Pick the level 2 keywords: </div>
	<br>
	
    <form action = {{get_network}} method="post">
        <input type="submit" value="Generate Network" class="form-control btn btn-primary">
    	<br><br>

    	<table class="table table-striped table-bordered">
    	<thead class="table-dark">
    		<tr>
    			<th scope="col">Level 2 Node</th>
    			<th scope="col">Eigenvector Centrality</th>
    			<th scope="col">Selection</th>
    		</tr>
    	</thead>
    	<tbody>
    		{% for node, centrality in level_2.items() %}
    		<tr>
    			<td>{{node}}</td>
    			<td>{{centrality}}</td>
    			<td><input type="checkbox" value={{node}} name="chosen_nodes" id="chosen_nodes"></td>
    		</tr>
    		{% endfor %}
    	</tbody>
    	</table>	
    </form>
    
</div>
</div>

<div class="column">
    {% if chosen_nodes %}
    	<img src="static/network.jpg" style="width:700px;height:700px;">
	{% endif %}
</div>

</div>

</body>

</html>